html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-image: url("bank.jpg") ;
    text-align: center;
}


#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 99999;
}

.bg-light{
    background-color:rgb(248, 248, 250);
}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

    text-align: center;
    margin-left: 35rem;
}

.nav-link{
    color: #603F83FF;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color:rgb(151, 60, 248);
}

.hero-content{
    height: 60vh;
    background-color:   #603F83FF;
    color: #ffffff;
    padding: 3rem;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin-bottom: 1vh;
}

.hero-img{
    height: 70vh;
    width: 100%;
    border-radius: 50px;
}

@media only screen and (max-width: 766px) {
    .hero-img {
      display: none;
    }
}

.get-started{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #fff;
    color: #603F83FF! important;

}

.get-started:hover{
    text-decoration: none;
    background-color: #bfdff0;

}

.get-started-content{
    height: 60vh;
    background-color: #ff8a65;
    border-top-left-radius: 42rem;
    border-top-right-radius: 42rem;
    border-bottom-right-radius: 42rem;
    border-bottom-left-radius: 42rem;
}

.get-started-content .row{
    padding: 25vh 0;
}

.get-started-content a{
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 162%;
    background-color: #039be5;

    transition: 0.3s;
}

.get-started-content a:hover{
    background-color: #017ab6;
    text-decoration: none;
}

footer{
  margin-top: 200px;
  background-color: #FFFFFF;
  text-align: center;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
    position: relative;
}



.linkedin{
    color: #0077b5;
}
